
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
  }
  body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: linear-gradient(135deg, #000000, #e5334e);
  }
  .container{
    max-width: 700px;
    width: 100%;
    background-color: #2297c6;
    padding: 25px 30px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(167, 37, 37, 0.15);
  }
  .container .title{
    font-size: 30px;
    font-weight: 500;
    font-style:normal;
    position: relative;
  }
  
  
  .content form .user-details{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
  }
  form .user-details .input-box{
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
  }
  form .input-box span.details{
    display:block;
    font-weight: 500;
    margin-bottom: 5px;
  }
  .user-details .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    font-size: 15px;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
  }
  
  
  
   .button{
      position: absolute;
      top:85%;
      left: 50%;
      transform: translate(-50%,-50%);
      text-align: center;
      
    }
    .btn{
    
     margin: 20px;
     color: #1f1e1e;
     font-size: 18px;
     font-weight: 500;
     letter-spacing: 1px;
     cursor: pointer;
     transition: all 0.3s ease;
     background: linear-gradient(135deg, #a41bb0, #b76971);
     border: 1px solid white;
     padding: 5px 20px;
   
     
   }
   .button :hover{
  
    background:#ccc;
    }
  
    