<style>
  body {
    font-family: Arial, sans-serif;
  }

  h1 {
    color: #008000;
  }

  h2 {
    color: #000080;
  }

  p {
    margin-top: 20px;
  }

  strong {
    font-weight: bold;
  }

  img {
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  a {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #000080;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
  }

  a:hover {
    background-color: #0000FF;
  }

  </style>