*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
  }





h3{
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    
            }  
    
    table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 20px;
    }
    
    th, td {
      padding: 10px;
      text-align: left;
      border-bottom: 1px solid #ddd;
    }
    
    th {
      background-color: #f2f2f2;
    }
    
    .candidate-image img {
      width: 100px;
      height: 100px;
      object-fit: cover;
      border-radius: 50%;
    }
    
    .candidate-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-left: 10px;
    }
    
    h4, p {
      margin: 0;
    }
    
    .vote-button {
      margin-top: 10px;
    }
    
    .vote-button input {
      padding: 5px 10px;
      background-color: red;
      color: #fff;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
    