/* Body and heading styles */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-image: url('02.jpg');
    background-size: cover;
  }
  p{
    font-size: 40px;
    text-align: center;
    font-weight: 600;
    color: #35820b;
  }
  
  h1 {
    color: #ea0c0c;
  }
  
  h2 {
    color: #555;
  }
  
  /* Form styles */
  form {
    margin-bottom: 20px;
  }
  
  input[type="text"] {
    padding: 5px;
    font-size: 16px;
  }
  
  button {
    padding: 5px 10px;
    font-size: 16px;
    background-color: #043c77;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  /* Search results styles */
  table {
    width: 50%;
    
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
   
  }
  
  table th, table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #8e6868;
  }
  
  table th {
    background-color: #de9393;
  }
  table tr:hover {
    background-color: #f5f5f5;
  }
  
  /* CSS code for styling the "Next" button */
  a {
    display: inline-block;
    padding: 20px 30px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 4px;
  
    position:relative;
     margin-top: 5%;
      left: 45%;
  }
  
  a:hover {
    background-color: #45a049;
  }
  
  /* No results styles */
  .no-results {
    font-size: 16px;
    color: #ff0000;
    background-color: #007bff;
    font-style: italic;
  }
  