
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
  }
  body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: linear-gradient(135deg, #c58181, #110548);
  }
  .container{
    max-width: 700px;
    width: 100%;
    background-color: #aeaeae;
    padding: 25px 30px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(237, 64, 64, 0.15);
  }
  .container .title{
    font-size: 35px;
    font-weight: 500;
    font-style:normal;
    position: relative;
   text-align: center;
   padding-bottom: 30px;
  }
  
  
  .content form .user-details{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
  }
  form .user-details .input-box{
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
  }
  form .input-box span.details{
    display:block;
    font-weight: 500;
    margin-bottom: 5px;
  }
  .user-details .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    font-size: 15px;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
  }
  
  
  
  .button{

    position:relative;
      top:90%;
      left: 50%;
      transform: translate(-50%,-50%);
      text-align: center;
  }
  .btn{
  
    display: inline-block;
    margin-right: 10px;
    padding: 8px 15px;
    background-color: #4CAF50;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
 
   
 }
 .button :hover{

  background:#ebe9e9;
  }    .popup{
      width:400px;
      background: #66de9c;
      border-radius: 6px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      text-align: center;
      padding: 0 30px 30px;
      color:#333;
    }
    .popup img{
      width:100px;
      margin-top: -50px;
      border-radius: 50%;
      box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    }
    .popup h2{
      font-size: 40px;
      font-weight: 500;
      margin: 30px 0 10px;

    }
    
.popup button {
  padding: 10px 20px;
  background-color: #29870c;
  color: #f3f3f3;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  position: relative;
  margin-top: 10%;
}

.popup button:hover {
  background-color: #cf3c3c;
}
    